In [2]:
import kagglehub
from pathlib import Path
import shutil

In [3]:
paths = [kagglehub.dataset_download("stefanoleone992/ea-sports-fc-24-complete-player-dataset"),
         kagglehub.dataset_download("nyagami/ea-sports-fc-25-database-ratings-and-stats"),
         kagglehub.dataset_download("hubertsidorowicz/football-players-stats-2024-2025")]

ValueError: Invalid Kaggle credentials file at C:\Users\ardao\.kaggle\kaggle.json

In [4]:
raw_dir = Path("../data/raw")
for path in paths:
    download_dir = Path(path)
    if not download_dir.exists():
        print(f"Download directory {download_dir} does not exist, skipping.")
        continue
    dataset_name = download_dir.name
    dataset_raw_dir = raw_dir / dataset_name
    dataset_raw_dir.mkdir(parents=True, exist_ok=True)
    for item in download_dir.iterdir():
        if item.is_file():
            dest = dataset_raw_dir / item.name
            shutil.copy2(item, dest)

NameError: name 'paths' is not defined

In [6]:
import pandas as pd
import numpy as np
from pathlib import Path
from fuzzywuzzy import fuzz, process

c:\Users\ardao\anaconda3\envs\ml\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [74]:
ratings_24_path = Path("../data/raw/4/male_players.csv")
ratings_25_path = Path("../data/raw/5/male_players.csv")

ratings_24_df = pd.read_csv(ratings_24_path)
ratings_25_df = pd.read_csv(ratings_25_path)

C:\Users\ardao\AppData\Local\Temp\ipykernel_23296\2060328440.py:4: DtypeWarning: Columns (108) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings_24_df = pd.read_csv(ratings_24_path)

In [75]:
league_names_24 = ["La Liga", "Premier League", "Serie A", "Ligue 1", "Bundesliga"]
league_names_25 = ["LALIGA EA SPORTS", "Premier League", "Serie A Enilive", "Ligue 1 McDonald's", "Bundesliga"]

ratings_25_df = ratings_25_df[ratings_25_df['League'].isin(league_names_25)]

# SONRA isim dönüşümünü yap
def transform_25_league_names(league_name):
    mapping = {
        "LALIGA EA SPORTS": "La Liga",
        "Serie A Enilive": "Serie A",
        "Ligue 1 McDonald's": "Ligue 1"
    }
    return mapping.get(league_name, league_name)

ratings_25_df['League'] = ratings_25_df['League'].apply(transform_25_league_names)

ratings_24_df = ratings_24_df[ratings_24_df['league_name'].isin(league_names_24)]
ratings_24_df = ratings_24_df[ratings_24_df["fifa_version"]==24.0]

In [76]:
ratings_24_df.head()

,player_id,player_url,fifa_version,fifa_update,update_as_of,short_name,long_name,player_positions,overall,potential,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,/player/231747/kylian-mbappe/240002,24.0,2.0,2023-09-22,K. Mbappé,Kylian Mbappé Lottin,"ST, LW",91,94,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,/player/239085/erling-haaland/240002,24.0,2.0,2023-09-22,E. Haaland,Erling Braut Haaland,ST,91,94,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3
2,192985,/player/192985/kevin-de-bruyne/240002,24.0,2.0,2023-09-22,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,...,80+3,80+3,80+3,79+3,75+3,70+3,70+3,70+3,75+3,21+3
5,188545,/player/188545/robert-lewandowski/240002,24.0,2.0,2023-09-22,R. Lewandowski,Robert Lewandowski,ST,90,90,...,66+3,66+3,66+3,65+3,61+3,61+3,61+3,61+3,61+3,19+3
6,192119,/player/192119/thibaut-courtois/240002,24.0,2.0,2023-09-22,T. Courtois,Thibaut Nicolas Marc Courtois,GK,90,90,...,31+3,31+3,31+3,29+3,29+3,29+3,29+3,29+3,29+3,88+2

In [77]:
ratings_24_df.shape

(3467, 109)

In [78]:
ratings_25_df.head()

,Unnamed: 0.1,Unnamed: 0,Rank,Name,OVR,PAC,SHO,PAS,DRI,DEF,...,Nation,League,Team,play style,url,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes
0,0,0,1,Kylian Mbappé,91,97,90,80,92,36,...,France,La Liga,Real Madrid,"Quick Step+, Acrobatic, Finesse Shot, Flair, R...",https://www.ea.com/games/ea-sports-fc/ratings/...,NaN,NaN,NaN,NaN,NaN
1,1,1,2,Rodri,91,66,80,86,84,87,...,Spain,Premier League,Manchester City,"Tiki Taka+, Aerial, Bruiser, Long Ball Pass, P...",https://www.ea.com/games/ea-sports-fc/ratings/...,NaN,NaN,NaN,NaN,NaN
2,2,2,4,Erling Haaland,91,88,92,70,81,45,...,Norway,Premier League,Manchester City,"Acrobatic+, Bruiser, Power Header, Power Shot,...",https://www.ea.com/games/ea-sports-fc/ratings/...,NaN,NaN,NaN,NaN,NaN
3,3,3,5,Jude Bellingham,90,80,87,83,88,78,...,England,La Liga,Real Madrid,"Relentless+, Flair, Intercept, Slide Tackle, T...",https://www.ea.com/games/ea-sports-fc/ratings/...,NaN,NaN,NaN,NaN,NaN
4,4,4,7,Vini Jr.,90,95,84,81,91,29,...,Brazil,La Liga,Real Madrid,"Quick Step+, Chip Shot, Finesse Shot, First To...",https://www.ea.com/games/ea-sports-fc/ratings/...,NaN,NaN,NaN,NaN,NaN

In [79]:
ratings_25_df.shape

(2612, 58)

In [80]:
def transform_name_to_short_format(name):
    if pd.isna(name):
        return name
    
    name_parts = str(name).strip().split()
    
    if len(name_parts) < 2:
        return name
    
    first_initial = name_parts[0][0].upper() + "."
    
    return f"{first_initial} {' '.join(name_parts[1:])}"

In [81]:
ratings_25_df['transformed_name'] = ratings_25_df['Name'].apply(transform_name_to_short_format)

In [ ]:
names_25 = ratings_25_df['transformed_name'].dropna().unique()
names_24 = ratings_24_df['short_name'].dropna().unique()
threshold = 0.80

# 1. Find exact matches first
exact_matches = set(names_25) & set(names_24)
matches = []

for name_25 in exact_matches:
    matches.append({
        'name_25': name_25,
        'name_24': name_25,
        'similarity_score': 100, 
        'original_name_25': ratings_25_df[ratings_25_df['transformed_name'] == name_25]['Name'].iloc[0] if 'Name' in ratings_25_df.columns else name_25
    })

In [83]:
list(exact_matches)[:5]

['E. Holm', 'E. Hysaj', 'M. Gillespie', 'M. Mount', 'K. Behrens']

In [84]:
names_25_remaining = set(names_25) - exact_matches
names_24_remaining = set(names_24) - exact_matches

In [85]:
len(names_24_remaining)

1885

In [86]:
len(names_25_remaining)

1042

In [87]:
from tqdm import tqdm

for name_25 in tqdm(names_25_remaining, desc="Fuzzy matching"):
    best_match = process.extractOne(name_25, list(names_24_remaining), scorer=fuzz.ratio)
    if best_match and best_match[1] >= threshold * 100:
        matches.append({
            'name_25': name_25,
            'name_24': best_match[0],
            'similarity_score': best_match[1],
            'original_name_25': ratings_25_df[ratings_25_df['transformed_name'] == name_25]['Name'].iloc[0] if 'Name' in ratings_25_df.columns else name_25
        })

matches_df = pd.DataFrame(matches)
matches_df = matches_df.sort_values('similarity_score', ascending=False)

print(f"Found {len(matches_df)} matches (exact + fuzzy) above threshold {threshold}")
print(matches_df.head(20))

Fuzzy matching: 100%|██████████| 1042/1042 [00:34<00:00, 30.32it/s]

Found 1763 matches (exact + fuzzy) above threshold 0.8
           name_25       name_24  similarity_score    original_name_25
1536         Areso         Areso               100               Areso
1537          Noel          Noel               100                Noel
1538    J. Dasilva    J. Dasilva               100        Josh Dasilva
1539  E. Rexhbeçaj  E. Rexhbeçaj               100     Elvis Rexhbeçaj
56       M. Jensen     M. Jensen               100      Mathias Jensen
57        S. March      S. March               100         Solly March
58        W. Osula      W. Osula               100       William Osula
59         P. Ciss       P. Ciss               100          Pathé Ciss
60        S. Nsoki      S. Nsoki               100       Stanley Nsoki
61     B. Bouanani   B. Bouanani               100  Badredine Bouanani
62      K. Havertz    K. Havertz               100         Kai Havertz
63       M. Honsak     M. Honsak               100      Mathias Honsak
48       A. Deiola     A. Deiola               100   Alessandro Deiola
49        L. Majer      L. Majer               100         Lovro Majer
50          Gumbau        Gumbau               100              Gumbau
51       A. Diallo     A. Diallo               100         Amad Diallo
52      O. Diakité    O. Diakité               100       Oumar Diakité
53      N. Fagioli    N. Fagioli               100      Nicolò Fagioli
54     O. Marmoush   O. Marmoush               100       Omar Marmoush
55          Juanpe        Juanpe               100              Juanpe

In [88]:
column_mapping = {
    # Player Identity
    'short_name': 'Name',
    'age': 'Age', 
    'nationality_name': 'Nation',
    'club_name': 'Team',
    'league_name': 'League',
    'player_positions': 'Position',
    'preferred_foot': 'Preferred foot',
    'weak_foot': 'Weak foot',
    'skill_moves': 'Skill moves',
    'height_cm': 'Height',
    'weight_kg': 'Weight',
    
    # Main Stats
    'overall': 'OVR',
    'pace': 'PAC',
    'shooting': 'SHO',
    'passing': 'PAS',
    'dribbling': 'DRI',
    'defending': 'DEF',
    'physic': 'PHY',
    
    # Detailed Stats
    'movement_acceleration': 'Acceleration',
    'movement_sprint_speed': 'Sprint Speed',
    'mentality_positioning': 'Positioning',
    'attacking_finishing': 'Finishing',
    'power_shot_power': 'Shot Power',
    'power_long_shots': 'Long Shots',
    'attacking_volleys': 'Volleys',
    'mentality_penalties': 'Penalties',
    'mentality_vision': 'Vision',
    'attacking_crossing': 'Crossing',
    'skill_fk_accuracy': 'Free Kick Accuracy',
    'attacking_short_passing': 'Short Passing',
    'skill_long_passing': 'Long Passing',
    'skill_curve': 'Curve',
    'skill_dribbling': 'Dribbling',
    'movement_agility': 'Agility',
    'movement_balance': 'Balance',
    'movement_reactions': 'Reactions',
    'skill_ball_control': 'Ball Control',
    'mentality_composure': 'Composure',
    'mentality_interceptions': 'Interceptions',
    'attacking_heading_accuracy': 'Heading Accuracy',
    'defending_marking_awareness': 'Def Awareness',
    'defending_standing_tackle': 'Standing Tackle',
    'defending_sliding_tackle': 'Sliding Tackle',
    'power_jumping': 'Jumping',
    'power_stamina': 'Stamina',
    'power_strength': 'Strength',
    'mentality_aggression': 'Aggression',
    
    # Goalkeeper Stats
    'goalkeeping_diving': 'GK Diving',
    'goalkeeping_handling': 'GK Handling',
    'goalkeeping_kicking': 'GK Kicking',
    'goalkeeping_positioning': 'GK Positioning',
    'goalkeeping_reflexes': 'GK Reflexes'
}

In [89]:
fifa24_dict = {}
for _, row in ratings_24_df.iterrows():
    short_name = row['short_name']
    if pd.notna(short_name):
        fifa24_dict[short_name] = row.to_dict()

fifa25_dict = {}
for _, row in ratings_25_df.iterrows():
    transformed_name = row['transformed_name']
    if pd.notna(transformed_name):
        fifa25_dict[transformed_name] = row.to_dict()

# Step 3: Build merged dataframe
merged_data = []

for _, match_row in matches_df.iterrows():
    name_24 = match_row['name_24']
    name_25 = match_row['name_25']
    
    # Get player data from both datasets
    player_24 = fifa24_dict.get(name_24, {})
    player_25 = fifa25_dict.get(name_25, {})
    
    # Create merged row
    merged_row = {
        'matched_name': name_24,
        'name_24': name_24,
        'name_25': name_25,
        'similarity_score': match_row['similarity_score'],
        'original_name_25': match_row['original_name_25']
    }
    
    # Add mapped columns - create separate _24 and _25 columns
    for col24, col25 in column_mapping.items():
        if col24 in player_24:
            merged_row[f"{col24}_24"] = player_24[col24]
        if col25 in player_25:
            merged_row[f"{col24}_25"] = player_25[col25]
            
    merged_data.append(merged_row)

merged_df = pd.DataFrame(merged_data)

In [90]:
merged_df.head()

,matched_name,name_24,name_25,similarity_score,original_name_25,short_name_24,short_name_25,age_24,age_25,nationality_name_24,...,goalkeeping_diving_24,goalkeeping_diving_25,goalkeeping_handling_24,goalkeeping_handling_25,goalkeeping_kicking_24,goalkeeping_kicking_25,goalkeeping_positioning_24,goalkeeping_positioning_25,goalkeeping_reflexes_24,goalkeeping_reflexes_25
0,Areso,Areso,Areso,100,Areso,Areso,Areso,23,25,Spain,...,7,NaN,10,NaN,13,NaN,12,NaN,14,NaN
1,Noel,Noel,Noel,100,Noel,Noel,Noel,20,21,Spain,...,13,NaN,13,NaN,11,NaN,14,NaN,8,NaN
2,J. Dasilva,J. Dasilva,J. Dasilva,100,Josh Dasilva,J. Dasilva,Josh Dasilva,24,25,England,...,11,NaN,13,NaN,8,NaN,10,NaN,14,NaN
3,E. Rexhbeçaj,E. Rexhbeçaj,E. Rexhbeçaj,100,Elvis Rexhbeçaj,E. Rexhbeçaj,Elvis Rexhbeçaj,25,26,Kosovo,...,14,NaN,11,NaN,6,NaN,8,NaN,14,NaN
4,M. Jensen,M. Jensen,M. Jensen,100,Mathias Jensen,M. Jensen,Mathias Jensen,27,28,Denmark,...,5,NaN,13,NaN,10,NaN,8,NaN,12,NaN

In [91]:
merged_df.shape

(1763, 109)

In [92]:
import json

processed_dir = Path("../data/processed")
processed_dir.mkdir(parents=True, exist_ok=True)

merged_file_path = processed_dir / "merged_players_24_25_final.csv"
merged_df.to_csv(merged_file_path, index=False)

mapping_file_path = processed_dir / "column_mapping_24_25.json"
with open(mapping_file_path, 'w', encoding='utf-8') as f:
    json.dump(column_mapping, f, indent=2, ensure_ascii=False)